body {
  background-color: tan;
}

#initially-showing {
  display: none;
}

h1 {
  text-align: center;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.light-background {
  background-color: white;
  color: black;
}

.dark-background {
  background-color: black;
  color: white;
}
